<div class="container">
  <div class="row">
    <div class="card mx-auto mb-3 shadow">
      <div class="card-header text-center">
        <h5>New note</h5>
      </div>
      <div class="card-body">
        <form action="/notes" method="post">
          <div class="form-group">
            <%= token_tag %>
            <input type="hidden" name="note[user_id]" value="<%= current_user.id %>">
          </div>
          <div class="form-group">
            <label for="title"><h5>Title:</h5></label>
            <input class="form-control" type="text" name="note[title]" id="title">
            <br>
          </div>
          <div class="form-group">
            <label for="body"><h5>Body:</h5></label>
            <input class="form-control" type="text" name="note[body]" id="body">
            <br>
          </div>
          <div class="form-group">
            <label for="priority_id"><h5>Priority:</h5></label>
            <select class="form-control" name="note[priority_id]" id="priority_id">
              <% @priorities.each do |priority| %>
                <option value="<%= priority.id %>"><%= priority.status %></option>
              <% end %>
            </select>
          </div>
          <br>
          <button type="submit" class="btn btn-success" style="width: 100%">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
