<footer class="page-footer font-small bg-light">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.linkedin.com/in/rodolpho-correa-lobo-de-azeredo-desenvolvedor-ruby-on-rails/"> Rodolpho Lobo</a>
  </div>
</footer>
